* { padding: 0px; margin: 0px; }
html {
	height: 100%;
	width: 100%;
	overflow: hidden;
	color: white;
	font: 25px "Courier New", Courier, monospace;
	font-weight: bold;
	/*opacity: 0;*/
}
/*body { height: 100%; width: 100%; }*/

#overall{ position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; }
#world { position: absolute; z-index: -10; }
#battle{ position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; min-width: 770px; min-height: 580px; }
#character_area label { display: inline-block; vertical-align: middle; }
#commands { padding: 15px; padding-left: 60px; list-style-type: none; }
#commands li { margin: 6px; }

.tile { display: inline-block; /*border: 1px solid black;*/ }
.tile[alt='empty'] { }
.tile[alt='grass'] { background-color: green; }
.tile[alt='water'] { background-color: blue; }
.tile[alt='forest'] { background-color: #030; }
.tile[alt='shallow'] { background-color: #09F; }
.tile[alt='swamp'] { background-color: #366; }
.tile[alt='dirt'] { background-color: #C96; }

.enemy { opacity:0; }
#dialog {
	position: absolute;
	background-color: rgba(30,30,30,0.7);
	padding: 20px;
	border-radius: 10px;
	cursor: default;
}
#dialog>p {
	cursor: default;
}