* { padding: 0px; margin: 0px; }
html { height: 100%; width: 100%; overflow: hidden; }
body { height: 100%; width: 100%; position: relative; }

#top {
	position: absolute;
	height: 50px;
	top: 0px;
	left: 15px;
	right: 15px;
	border-bottom: 1px solid #aaaaaa;
	overflow: hidden;
}

#left {
	position: absolute;
	left: 0px;
	top: 50px;
	bottom: 0px;
	width: 50%;
	overflow: hidden;
}
	/* 'word document' looking area, holds decoded data */
	#document {
		position: absolute;
		top: 15px;
		right: 15px;
		left: 15px;
		bottom: 135px;
		background-color: white;
		border: 1px solid #777777;
		overflow: hidden;
	}
		#content {
			position: absolute;
			top: 15px;
			right: 15px;
			left: 15px;
			bottom: 15px;
			border: 1px solid #dddddd;
			overflow-y: scroll;
			overflow-x: hidden;
			font: 11px "Courier New", Courier, monospace;
			line-height: 11px;
		}
			#content fieldset { margin: 4px; padding: 3px; border: 1px solid #777777; }
			#content fieldset legend {
				width: 99%;
				text-align: center;
				color: #7777777;
				font-style: italic;
			}
			#content fieldset legend .right { float: right; }
			#content fieldset legend .left { float: left; }			
			#content .entry {
				float: left;
				margin: 1px;
				width: 98%;
				border-bottom: 1px solid #eeeeee;
			}
				.entry .bytes {
					padding-left: 5px;
					color: #aeaeae;
				}
				
				.entry .char { color: #03f; }
				.entry .int { color: #d3d; }

			/* decoded data at this point */
			#content .left {
				float: left;
				max-width: 60%;
			}
		
			/* data type and size of .left */
			#content .right {
				float: right;
				max-width: 30%;
			}
				.entry .right { font-style: italic; }
			
	/* chunks are stored and added to the document here */
	#chunks {
		position: absolute;
		bottom: 15px;
		left: 15px;
		right: 15px;
		height: 100px;
		border: 2px solid #bbbbbb;
		background-color: #dedede;
	}
		
#right {
	min-width: 300px;
	position: absolute;
	right: 0px;
	top: 50px;
	bottom: 0px;
	width: 50%;
	overflow: hidden;
}
	/* dCode interface */
	#dCode {
		position: absolute;
		top: 15px;
		left: 0px;
		right: 15px;
		bottom: 15px;
		border: 2px solid #bbbbbb;
		border-radius: 7px;
	}
		#preview {
			position: absolute;
			top: 10px;
			left: 10px;
			right: 10px;
			height: 35px;
			border: 1px solid black;
		}
		
		#data {
			position: absolute;
			top: 50px;
			left: 10px;
			right: 10px;
			height: 35px;
			margin-left: 30px;
			margin-right: 30px;
			padding: 10px;
			font-family: Courier;
			text-align: center;
			color: #4f4f4f;
			display: inline-block;
			border: 1px solid #777777;
			background-color: #fafafa;
			overflow-x: scroll;
			overflow-y: hidden;
			white-space: nowrap;
		}
		
		.lift {
			margin-top: -8px;
			background-color: #ffffcc;
		}
		
		.spacer {
			display: inline-block;
			position: relative;
			max-width: 11px;
			min-width: 11px;
			min-height: 15px;
			max-height: 15px;
			font-size: 12px;
			letter-spacing: 1px;
			border: 1px solid #afafaf;
			line-height: 15px;
			margin-left: 2px;
			margin-right: 2px;
			vertical-align: middle;
		}
		
		#dtemplates {
			width: 100%;
			height: 100px;
			border: 1px solid orange;
		}