* { padding: 0px; margin: 0px; }
html { height: 100%; width: 100%; overflow: hidden; }
body { height: 100%; width: 100%; position: relative; font: 12px Tahoma; }

#top {
	position: absolute;
	height: 50px;
	top: 0px;
	left: 15px;
	right: 15px;
	border-bottom: 1px solid #aaaaaa;
	overflow: hidden;
}

#left {
	position: absolute;
	left: 0px;
	top: 50px;
	bottom: 0px;
	width: 50%;
	overflow: hidden;
}
	/* 'word document' looking area, holds decoded data */
	#document {
		position: absolute;
		top: 15px;
		right: 15px;
		left: 15px;
		bottom: 135px;
		background-color: white;
		border: 1px solid #777777;
		overflow: hidden;
	}
		#content {
			position: absolute;
			top: 15px;
			right: 15px;
			left: 15px;
			bottom: 15px;
			border: 1px solid #dddddd;
			overflow-y: scroll;
			overflow-x: hidden;
			font: 11px "Courier New", Courier, monospace;
			line-height: 11px;
		}
			#content fieldset { margin: 4px; padding: 3px; border: 1px solid #777777; }
			#content fieldset legend {
				width: 99%;
				text-align: center;
				color: #7777777;
				font-style: italic;
			}
			#content fieldset legend .right { float: right; }
			#content fieldset legend .left { float: left; }			
			#content .entry {
				float: left;
				margin: 1px;
				width: 98%;
				border-bottom: 1px solid #eeeeee;
			}
				.entry .bytes {
					padding-left: 5px;
					color: #aeaeae;
				}
				
				.entry .char { color: #03f; }
				.entry .int { color: #d3d; }

			/* decoded data at this point */
			#content .left {
				float: left;
				max-width: 60%;
			}
		
			/* data type and size of .left */
			#content .right {
				float: right;
				max-width: 30%;
			}
				.entry .right { font-style: italic; }
			
	/* chunks are stored and added to the document here */
	#chunks {
		position: absolute;
		bottom: 15px;
		left: 15px;
		right: 15px;
		height: 100px;
		border: 2px solid #bbbbbb;
		background-color: #dedede;
	}
		
#right {
	min-width: 300px;
	position: absolute;
	right: 0px;
	top: 50px;
	bottom: 0px;
	width: 50%;
	overflow: hidden;
}
	/* dCode interface */
	#dCode {
		position: absolute;
		top: 15px;
		left: 0px;
		right: 15px;
		bottom: 15px;
		border: 2px solid #bbbbbb;
		border-radius: 7px;
	}
		#bufferdiv {
			position: absolute;
			z-index: 5;
			background-color: #f0f0f0;
			border: 2px solid #999;
			padding: 2px;
			padding-left: 7px;
			padding-right: 7px;
		}
		
		#dC_buffered {
			max-width: 30px;
		}
		
		#buffer {
		}
		
		#data {
			position: absolute;
			top: 15px;
			left: 10px;
			right: 10px;
			height: 100px;
			margin-left: 30px;
			margin-right: 30px;
			line-height: 22px;
			padding: 10px;
			font-family: Tahoma;
			color: #888;
			display: inline-block;
			border: 1px solid #b0b0b0;
			background-color: #f0f0f0;
			overflow-y: scroll;
			overflow-x: hidden;
		}
			.spacer {
				display: inline-block;
				position: relative;
				min-width: 15px;
				min-height: 20px;
				max-height: 20px;
				font-size: 16px;
				letter-spacing: 1px;
				text-align: center;
				border: 1px solid #d0d0d0;
				background-color: white;
				line-height: 20px;
				padding-left: 2px;
				padding-right: 2px;
				margin: 5px;
				vertical-align: middle;
			}
			#data .spacer { max-width: 15px; }
			
			.inner {
				position: absolute;
				top: -2px;
				left: -2px;
				right: -2px;
				bottom: -2px;
			}
			.inner.single { border: 2px solid #999; }
			.inner.lend { border-left: 2px solid #999; border-top: 2px solid #999; border-bottom: 2px solid #999; right: -6px; }
			.inner.rend { border-right: 2px solid #999; border-top: 2px solid #999; border-bottom: 2px solid #999; left: -6px; }
			.inner.mid { border-top: 2px solid #999; border-bottom: 2px solid #999; left: -6px; right: -6px; }
			
		#choice {
			position: absolute;
			top: 180px;
			left: 10px;
			right: 10px;
			height: 35px;
			margin-left: 30px;
			margin-right: 30px;
		}
			#options {
				display: inline-block;
				width: 49%;
				vertical-align: middle;
				height: 35px;
				border: 1px solid black;
			}
			
			#preview {
				display: inline-block;
				width: 49%;
				vertical-align: middle;
				height: 35px;
				border: 1px solid black;
				font-family: Tahoma;
				text-align: center;
				color: #4f4f4f;
				font-size: 12px;
				letter-spacing: 1px;
				line-height: 35px;
			}
		
		#dtemplates {
			width: 100%;
			height: 100px;
			border: 1px solid orange;
		}