* { margin: 0px; padding: 0px; }

html { overflow-y: hidden; height: 100%; font-family: Tahoma; font-size: 12px; color: #5f5f5f; }
body { overflow-y: scroll; height: 100%; }
ul, blockquote { margin-left: 20px; display: block; }
/*input[type="submit"] { padding-left: 3px; padding-right: 3px; }*/

table { border-collapse: collapse; border: 1px solid #bfbfff; font-size: 12px; }
thead { border-left: 1px solid #bfbfff; border-right: 1px solid #bfbfff; text-align: left; }
th { color: white; background-color: #0054A6; letter-spacing: 1px; text-align: left; }
td, th { vertical-align: middle; padding: 3px; }

a { text-decoration: none; display: inline; }
a:link { color: #2fa2fa; }
a:visited { color: #2fa2fa; }
a:hover { color: #4f74f7; }

.title { color: #0054A6; font-size: 16px; font-weight: bold; font-family: Arial; }
.line { padding: 20px; position: relative; }
/*.form_line { white-space: nowrap; min-height: 30px; clear: right; padding: 2px; margin: 2px; }
.form_line .item { float: left; min-width: 100px; height: 30px; line-height: 30px; margin-left: 10px; margin-right: 10px; }
.form_line .item * { vertical-align: middle; }
.form_line .item input { margin: 5px; }
.form_line .item input[type="text"],
.form_line .item input[type="password"] { padding: 2px; width: 90px; }
.form_line .item input[type="radio"] { margin: 10px; }*/
.gform { }
.gform fieldset { padding: 15px; }
.row * { display: inline-block; vertical-align: middle; margin: 3px; }
.row label { font-size: 11px; font-style: italic; width: 100px; letter-spacing: 1px; }
.row input[type="checkbox"] { width: 50px; }
.row input[type="text"] { color: #666; letter-spacing: 1px; font-size: 12px; width: 150px; }
.lalign { text-align: left; }
.ralign { text-align: right; }

.section { border-left: 1px solid #666; border-bottom: 1px solid #666; border-right: 1px solid #666; padding: 10px; }
.section_title { padding: 5px; border: 1px solid #666; color: #333; margin-top: 2px; }

.left { float: left; }
.left_a { text-align: left; }
.left_af { float: left; text-align: left; }

.right { float: right; }
.right_a { text-align: right; }
.right_af { float: right; text-align: right; }

#nav label { display: block; position: relative; }
.heading { padding: 2px; border: 1px solid black; margin-top: 3px; margin-bottom: 3px; }
.current { color: black; font-weight: bold; }
.hidden { display: none; }

.content { margin-bottom: 20px; clear: none; padding: 10px; border: 1px solid #999; }
.content .title { color: #666; font: 22px Arial; letter-spacing: 1px; font-weight: bold; margin: 5px 0px; }
.content .subtitle { color: #ccc; }
.results { width: 100%; margin: 10px 0px; }
.time { text-align: left; font-size: 10px; font-style: italic; padding-bottom: 2px; }
tr.even td { background-color: #efefff; }

#main {
	position: relative;
	margin: 0px auto;
	min-height: 100%;
	min-width: 600px;
	max-width: 95%;
	background-color: white;
}

#header {
	margin-left: 20px;
	margin-right: 20px;
	height: 80px;
	border-bottom: 1px solid #8f8f8f;
	box-shadow: 0px 4px 4px -4px #666666;
}
#header img { vertical-align: middle; }

#page { padding-top: 10px; padding-bottom: 100px; margin-left: 20px; margin-right: 20px; }
#nav { float: left; min-width: 200px; max-width: 200px; padding: 15px; }
#content { margin-left: 240px; padding: 15px; }

#footer {
	position: absolute;
	bottom: 0px;
	left: 20px;
	right: 20px;
	height: 40px;
	padding-top: 15px;
	text-align: center;
	box-shadow: 0px -4px 4px -4px #666666;
	border-top: 1px solid #8f8f8f;
}
#footer label { letter-spacing: 1px; font-size: 10px; font-family: Arial; }