* { margin: 0px; padding: 0px; }

html { height: 100%; font-family: Tahoma; font-size: 12px; color: #5f5f5f; }
body { height: 100%; max-width: 1300px; margin: 0px auto; }
ul, blockquote { margin-left: 20px; display: block; }
input[type="submit"], input[type="button"] { overflow: visible; padding: 2px 3px; font-size: 12px; }

table { border-collapse: collapse; border: 1px solid #bfbfff; font-size: 12px; }
thead { border-left: 1px solid #bfbfff; border-right: 1px solid #bfbfff; text-align: left; }
th { color: white; background-color: #0054A6; letter-spacing: 1px; text-align: left; }
td, th { vertical-align: middle; padding: 3px; }

a { text-decoration: none; display: inline; }
a:link { color: #2fa2fa; }
a:visited { color: #2fa2fa; }
a:hover { color: #4f74f7; }

.title { position: relative; color: #0054A6; font-size: 16px; font-weight: bold; font-family: Arial; }
.item { white-space: nowrap; }
.line { padding: 20px; position: relative; }
.info { cursor: help; }

.gform { font-family: Lucida Sans Unicode; }
.gform hr { border: 0px; border-top: 1px solid #ccc; margin: 10px; }
.gform blockquote { display: inline; }
.gform fieldset { border: 1px solid #ccc; }
.gform fieldset fieldset { display: inline !important; }
.gform legend { font-family: Tahoma; color: #4B77A4; padding: 2px 4px; font-size: 14px; letter-spacing: 1px; }
.gform fieldset fieldset legend { font-family: Tahoma; color: #4B77A4; padding: 2px 4px; font-size: 12px; letter-spacing: 1px; }
.gform label { font-size: 11px; width: 100px; letter-spacing: 1px; }
.gform input[type="checkbox"] { }
.gform input[type="text"], .gform input[type="password"] { color: #666; letter-spacing: 1px; font-size: 12px; width: 150px; }
.gform .row>*, .gform .row .item>* { display: inline-block; vertical-align: middle; margin: 4px; }

.section { border: 1px solid #666; margin-top: 2px; }
.section_title { display: block; padding: 5px; color: #333; }
.section_body { padding: 10px; padding-left: 0px; }

.lalign { text-align: left; }
.ralign { text-align: right; }
.lfloat { float: left; }
.rfloat { float: right; position: relative; z-index: 100; }
.center { text-align: center; }
.height100 { height: 100%; }

#nav label { display: block; position: relative; }
.heading { padding: 2px; border: 1px solid black; margin-top: 3px; margin-bottom: 3px; }
.current { color: black; font-weight: bold; }
.inner { margin: 15px; display: inline-block; }
.inner_lr { margin-left: 15px; margin-right: 15px; }
.row { clear: both; /*white-space: nowrap;*/ }
.hidden { display: none !important; }

.legend { width: 100%; margin: 7px; }
.legend table { border: 0px; letter-spacing: 1px; font-size: 11px; font-family: Lucida Sans Unicode; font-weight: normal; color: #888; width: 100%; text-align: center; }
.legend table td { width: 30%; }
.legend td * { display: inline; margin: 3px; }
.separator { margin-top: 15px; border-top: 1px solid #ccc; }
.spacer { margin-top: 10px; margin-bottom: 10px; height: 0px; }
.clearboth { clear: both; }

.content { margin-bottom: 20px; clear: none; padding: 20px; border: 1px solid #999; }
.content .title { color: #666; font-size: 22px; font-family: Arial; letter-spacing: 1px; font-weight: bold; margin: 5px 0px; }
.content .subtitle { color: #666; font-size: 16px; font-family: Arial; letter-spacing: 1px; font-weight: bold; }
.content_footer { margin-bottom: -20px; }
.results { width: 100%; }
.pass { border-left: 20px solid #77bb77; padding-left: 10px; margin-bottom: 20px; }
.fail { border-left: 20px solid #bb7777; padding-left: 10px; margin-bottom: 20px; }
.blank { border-left: 20px solid #aaa; padding-left: 10px; margin-bottom: 20px; }

.headsup { color: #666; border: 1px solid #aaa; width: 100%; text-align: center; }
.headsup .left { width: 30px; border-right: 1px solid #aaa; font-weight: bold; text-align: center; }
.headsup .right { padding-left: 10px; font-family: Lucida Sans Unicode; font-size: 11px; }
.headsup td { padding: 7px; }
.headsup.notice .left, .headsup.warning .left { background-color: #ffff88; }
.headsup.alert .left, .headsup.error .left { background-color: #ffcccc; }
.headsup.desc .left { display: none; }
.headsup.success .left { background-color: #ccffcc; }

.note { letter-spacing: normal; font-size: 10px; font-family: Lucida Sans Unicode; font-weight: normal; color: #999; font-style: italic; margin-left: 20px; }
tr.even td { background-color: #efefff; }

#main {
	position: relative;
	margin: 0px auto;
	min-height: 100%;
	min-width: 600px;
	max-width: 95%;
	background-color: white;
}

#header { margin: 0px 20px; height: 80px; border-bottom: 1px solid #8f8f8f; box-shadow: 0px 4px 4px -4px #666666; }
#header img { vertical-align: middle; }

#page { padding-top: 10px; padding-bottom: 100px; margin-left: 20px; margin-right: 20px; }
#nav { float: left; min-width: 200px; max-width: 200px; padding: 15px; }
#nav a { display: inline; position: relative; }
#content { margin-left: 240px; padding: 15px; }

#footer {
	position: absolute;
	bottom: 0px;
	left: 20px;
	right: 20px;
	height: 40px;
	padding-top: 15px;
	text-align: center;
	box-shadow: 0px -4px 4px -4px #666666;
	border-top: 1px solid #8f8f8f;
}
#footer label { letter-spacing: 1px; font-size: 10px; font-family: Arial; }